name: Build and Restore

on:
    push:
        branches:
            - master
            - release/*
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            dotnet: [ '8.x' , '9.x' ]
        name: Dotnet ${{ matrix.dotnet }} Build and Test

        steps:
            - name: Checkout code
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0 # Need full history for GitVersion

            - name: Setup .NET
              uses: actions/setup-dotnet@v5
              with:
                dotnet-version: ${{ matrix.dotnet }}

            - name: Build
              run: dotnet build Yllibed.HttpServer.slnx /p:Configuration=Release

            - name: Collect NuGet packages
              shell: pwsh
              run: |
                  $OutputDir = "nuget-packages"
                  New-Item -ItemType Directory -Force -Path $OutputDir
                  Get-ChildItem -Path . -Recurse -Include *.nupkg,*.snupkg | Copy-Item -Destination $OutputDir

            - name: Upload NuGet packages as artifacts
              uses: actions/upload-artifact@v4
              with:
                  compression-level: 9
                  name: nuget-packages
                  path: nuget-packages/
                  if-no-files-found: error

            - name: Test
              run: dotnet test Yllibed.HttpServer.slnx /p:Configuration=Release --no-build

    publish:
        if: startsWith(github.ref, 'refs/heads/master')
        # || startsWith(github.ref, 'refs/heads/release/')
        needs: build
        runs-on: ubuntu-latest

        steps:
            - name: Download artifacts
              uses: actions/download-artifact@v4
              with:
                  name: nuget-packages
                  path: ./nuget-packages

            - name: Setup .NET
              uses: actions/setup-dotnet@v5
              with:
                  dotnet-version: '8.x'

            - name: Push NuGet packages
              env:
                  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
              run: |
                  dotnet nuget push ./nuget-packages/*.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json
                  dotnet nuget push ./nuget-packages/*.snupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json
